body {
  font-size: 16px;
  color: black;
  background-color: gray;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: skyblue;
  border-radius: 0;
  border: 0;
  
}
#header-nav h1{
  float: left;
  text-align: left;
  padding-top: 10px;

}

.navbar-toggle{
   position: relative;
    padding: 9px 10px;
    margin-top: 26px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4p;
    clear:none;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  padding-top: 5px;
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  height:70px;
  background: #E7E7E7;
  
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  
  margin-top: -30px;
}
/* END HEADER */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color:whitesmoke;
}

h1 {
  font-family: fantasy;
  text-align: center;
  color: black;
  padding-left: 10px;
}

section {
  border: 1px solid black;
  background-color:rgba(128,128,128,0.8);
  margin: 10px;
}

section>div {
  
  
  text-align: center;
  font-size: 24px;
  font-style: Times;
  font-weight: bold;
  
}
.row {
  width: 100%;
}

section>p {
  padding: 20px 15px 15px 15px;
}


